#divider {
  display: flex;
  justify-content: flex-start;

}

#search-history {
  position: fixed;
  left: 0px;
  top: 70px;
  height: 100%;
  width:30%;
  padding: 5px;
  background-color: $sidebar-color;
  color: white;
  padding: 10px;
}

#sh-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 32px;
}


.saved-booking-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 1.5em;
  cursor: pointer;

}

#todo-index {
  margin-top: $page-vertical-padding;
  padding-bottom: $page-vertical-padding;
}

#index-subheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 18px;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
}

#index-title {
  font-size: 40px;
  font-weight: bold;
  padding-left: $page-horizontal-padding;
  color: $header-color
}

#btn-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: $page-horizontal-padding;
}

#load-err-container {
  background: url(../images/error.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#default-msg-container {
  background: url(../images/crate.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-picture {
  padding-top: 30px;
  width: 67%;
  position: absolute;
  right: 0;
  top: 80px;
  height: 118%;
  width: 69%;
}

div.cover-picture > div {
  padding-top: 12px;
  color: $sidebar-color;
  position: absolute;
  font-size: 2em;
  top: 40px;
  font-family: $title-font;

}

div#search-history button {
  position: absolute;
  right: 13px;
  width: 200px;
  height: 50px;
  font-size: 29px;
  margin-top: 20px;
}

.fa-trash-o:before {
  font-size: 1.7em;
  cursor:pointer;
}


.edit-btn-container {
  position: relative;
  top: 90px;
}

.edit-btn-container > button {
  font-size: 0.9em;
  position: relative;
  bottom: 5px;
  height: 49px;
}
