.fade-in-and-out {
  opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 1.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
  50% {
    opacity: 1;
  }
	100% {
		opacity: 0;
	}
}
