// VARIABLES STYLES

$body-background: #e5e8eb;
$body-font: 'Lato', serif;
$title-font: 'Shrikhand', cursive;
$body-text-color: black;

$page-horizontal-padding: 35px;
$page-vertical-padding: 90px;

$vertical-stoppers-height: 80px;

$header-color: #401e4b;
$sidebar-color: #161631;

$subtle-color: #7d7de2;
$subtle-color-hover: #6060b2;
$subtle-color-active: #373768;
$cta-color: #5ac597;
$cta-color-hover: #38936c;
$cta-color-active: #26503e;
