// VARIABLES STYLES

$body-background: #e5e8eb;
$body-font: 'Lato', serif;
$body-text-color: black;

$page-horizontal-padding: 35px;
$page-vertical-padding: 90px;

$vertical-stoppers-height: 80px;

$header-color: #2c3e50;

$taskblock-background: white;
$taskblock-color: #96a4b1;

$subtle-color: #8e9fb1;
$subtle-color-hover: #64707d;
$subtle-color-active: #2c3137;
$cta-color: #5ac597;
$cta-color-hover: #38936c;
$cta-color-active: #26503e;
